* {
  font-family: Arial;
}

/**
* LAYOUT
**/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

/**
* COLORS
**/
:root {
  --color-bg-nav: #646060;
}

/**
* SIZES
**/
:root {
  --size-h-nav: 50px;
  --size-h-footer: calc(50px * 2);
}

/**
* NAV
**/
.navbar {
  background-color: var(--color-bg-nav);
  height: var(--size-h-nav);
}

/**
* FOOTER
**/
.footer {
  background-color: var(--color-bg-nav);
  bottom: 0;
  height: var(--size-h-footer);
  line-height: var(--size-h-footer);
}

.footer span {
  color: #DEE2E6;
}

.footer a {
  color: #55AAFF;
}

/*
* UTILS
*/
