---
layout: default
section_id: home
slides:
  - bg: images/header.jpg
    class: animate-in
    title:
      text: Hank helps<br>medical coders
      animation: bottom-to-top
      class: medium-7 medium-offset-1
    buttons:
      animation: bottom-to-top slow
      class: medium-11 medium-offset-1
      items:
        - text: Get HANK!
          url: signup.html
    infos:
      - text: "With Hank you'll code faster and more accurately, saving time and making more money."
boxes:
  - icon_class: fa fa-bell
    title: Increase Productivity
    bgimage: images/growthfinger.jpg
    text:
      Send Hank a medical record and he'll return a list of codes, highlighting the text that lead him to select each one.
  - icon_class: fa fa-compass
    title: Improve Accuracy
    bgimage: images/mechanicalbrain.jpg
    text:
      Computer Assisted Coding systems like Hank are proven to increase accuracy as well as productivity.
  - icon_class: fa fa-star-half-empty
    title: Be a Part of The Future
    bgimage: images/cloudsmall.jpg
    text:
      Be a contributor and your feedback will be used to improve Hank's decisions in real time.
  - icon_class: fa fa-image
    title: Get Your Fair Share
    bgimage: images/fairmoney.jpg
    text:
      Contributors can choose to earn cash now or a stake in Hank's future profits.

---




<div class='advanced mod modDefaultSlider' >
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}

        <li class='frame {{class}}' >
          <div class='bg' style='background-image: url({{slide.bg}});background-position: top right;background-size: cover;'></div>
          {% if slide.infos %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <div class='mytitle'>{{slide.title.text}}</div>
                  <div class='spacing'></div>
                  {% for info in slide.infos %}
                  <p class="header-text">{{info.text}}</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% else %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <h2>{{slide.title.text}}</h2>
                </div>
              </div>
            </div>
          {% endif %}
          <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <div class='spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="full">
  <div class="row" style="min-width: 360px;">
  <div class="small-0 medium-1 columns"><br></div>
  <div class="small-4 medium-3 columns" style="padding: 0px;">
    <div class="box" style="min-height: 50px; width: 100%;"></div>
    <div class="box-gray box-title" style="min-height: 50px; width: 100%; background: #000; text-align: center; color: #fff; padding-top: 17px; font-size: 16px;">TRIAL</div>
    <div class="box-inner-border box-gray" style="min-height: 300px; width: 100%; background: #FFF; text-align: center; color: #000;">
      <p style="min-height: 46px; font-size: 20px; padding-top: 6px;">FREE</p>
      <div style="padding: 2px;">
        Installs in Seconds<br>
        No setup needed<br>
        Predicts ICD, CPT, HCPCS, and more<br>
        Text highlighting<br><br>
        <div style="font-size: 10px;">Limited to 50 cases/month</div>
        <a class="button" href="https://shartzog.github.io/signup.html" style="padding: 6px; margin: 3px;">Sign Up!</a>
      </div>
    </div>
    <div class="box" style="min-height: 50px; width: 100%;"></div>
  </div>
  <div class="small-4 medium-4 columns" style="padding: 0px;">
    <div class="box-blue box-title" style="min-height: 50px; width: 100%; background: #321e70; text-align: center; color: #fff; padding-top: 17px; font-size: 16px;">CONTRIBUTOR</div>
    <div class="box-inner-border box-blue" style="min-height: 400px; width: 100%; background: #d4c6ff; text-align: center; color: #000;">
      <p style="min-height: 46px; font-size: 20px; padding-top: 6px;">FREE*</p>
      <div style="padding: 2px;">
        All TRIAL features<br>
        Unlimited cases<br>
        Increase efficiency by over 20%<br>
        Get paid for contributions<br>
        Profit sharing options<br>
        Referral rewards<br>
        ICD and CPT lookup<br><br>
        <div style="font-size: 10px;">*See <a href="FAQ.html#contribute" style="color: #555;">content contribution requirement</a>; Limited time offer</div>
        <a class="button" href="https://shartzog.github.io/signup.html" style="padding: 6px; margin: 3px;">Sign Up!</a>
      </div>
    </div>
  </div>
  <div class="small-4 medium-3 columns" style="padding: 0px;">
    <div class="box" style="min-height: 50px; width: 100%;"></div>
    <div class="box-gray box-title" style="min-height: 50px; width: 100%; background: #000; text-align: center; color: #fff; padding-top: 17px; font-size: 16px;">USER ONLY</div>
    <div class="box-inner-border box-gray" style="min-height: 300px; width: 100%; background: #FFF; text-align: center; color: #000;">
      <p style="min-height: 46px; font-size: 20px; padding-top: 6px;">$150/mo.</p>
      <div style="padding: 2px;">
        All TRIAL features<br>
        Unlimited cases<br>
        Increase efficiency by over 20%<br>
        ICD and CPT lookup<br><br><br>
        <div style="font-size: 10px;">No contribution requirement</div>
        <a class="button" href="https://shartzog.github.io/signup.html" style="padding: 6px; margin: 3px;">Sign Up!</a>
      </div>
    </div>
    <div class="box" style="min-height: 50px; width: 100%;"></div>
  </div>
  <div class="small-0 medium-1 columns"><br></div>
</div>
  <div class="two spacing"></div>
</div>



<div class="bg" style="background-image: url('images/cloud-bottom.png');background-position: bottom center;background-size: cover;height:190px;"></div>
<div class="full alternate-row" id="productivity">
  <div class="row max-width-1000px">
    <div class="medium-6 columns">
      <div class="spacing"></div>
 <h1 class="main-title"><span style="color:#595ad4;">Increase</span> Your Productivity</h1>

      <p class="main-text">
        Code faster and get more done with Hank.</p>
      <div class="spacing"></div>

    </div>
    <div class="medium-6 columns">
      <div class="box" style="width: 500px; text-align: center;">
        <img class="fadeinright" src="images/purplse-laptop.png" style="height: 100%; margin: auto;">
      </div>
    </div>
  </div>
</div>
<div class="bg" style="background-image: url('images/curve-bottom.png');background-position: top center;background-size: cover;height:140px;"></div>

<div class="full"  id="accuracy" style='overflow: hidden;'>
  <div class="row max-width-1000px">
    <div class="medium-6 columns">
      <div class="box" style="width: 500px; text-align: center;">
        <img class="fadeinleft" src="images/computer-accuracy.png" style="height: 100%; margin: auto;">
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="two spacing"></div>
     <h1 class="main-title"><span style="color:#00cc6f;">Improve</span> Your Accuracy</h1>

      <p class="main-text">
        Code more accurately with Hank.</p>
    </div>
    <div class="four spacing"></div>
  </div>

</div>

<div class="bg" style="background-image: url('images/curve-bottom2.png');background-position: top center;background-size: cover;height:140px;"></div>




<div class="full alternate-row" id="bottomline">
  <div class="row max-width-1000px">
    <div class="medium-6 columns">
      <div class="spacing"></div>
 <h1 class="main-title"><span style="color:#d8124b;">Make</span> More Money</h1>

      <p class="main-text">
        Make More Money Today & Tomorrow With Hank.</p>
      <div class="spacing"></div>

    </div>
    <div class="medium-6 columns">
      <div class="box" style="width: 500px; text-align: center;">
        <img class="fadeinright" src="images/money-graph.png" style="height: 100%; margin: auto; overflow: hidden;">
      </div>
    </div>
  </div>
</div>
<div class="bg" style="background-image: url('images/cloud-bottom3.png');background-position: bottom center;background-size: cover;height:190px;"></div>

<div class="full" id="fairshare" style="background-image: url('images/rocket.jpg');background-position: bottom left;background-size: cover;min-height:800px; overflow: hidden;">
  <div class="box" style='width: 100%; min-height: 10px; background: #18cbfb; margin-top: -100px'><br></div>
  <div class="row max-width-1000px">
    <div class="medium-1 columns"><p></p></div>
    <div class="medium-10 columns">
      <div class="spacing"></div>
      <div class="box" style="text-align: center; width: 100%; ">
       <h1 class="main-title"><span style="color:#fff;">Get Your Fair Share</span></h1>

      <p class="main-text" style="color:#fff !important;">
        Hank Helps Medical Coders.</p>

      <p class="main-text" style="color:#fff !important;">
        Let Hank help you.</p>

      <div class="spacing"></div>
      <div class="box" style="text-align: center; width: 100%; ">

        <a class="button" href="https://shartzog.github.io/signup.html">Get Hank!</a>
      </div>
      </div>
    <div class="medium-1 columns"><p></p></div>
    </div>
  <div class="four spacing"></div>

  </div>

</div>

<!--div class='full' >
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes' >
          {% for box in page.boxes %}
            <div class='box' style='min-height:450px; background: #f5f5f5;'>
              <img src="{{box.bgimage}}" style='height:150px; padding-bottom: 10px; margin:auto;' />
              <h4 style='color: #5b3bba;'>{{box.title}}</h4>
              <p style='min-height: 100px;'>{{box.text}}</p>
              <a class="button" href="signup.html" style='padding: 6px; margin: 3px;'>Sign Up!</a><a class='button boxed small' href='FAQ.html' style='padding: 9px; margin: 2px; border: 0px; color: #333;'>Learn More</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div id='workflow' class='two spacing'></div>
</div>



<img src='images/whitewedgeleft.png' style="position: absolute; width: 100%; height: 74px; overflow: hidden; padding-top: -50px;" />
<div class='full' style="background: #f5f5f5;">
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/workflowhank.png" />
    </div>
    <div class='medium-6 columns'>
      <h4 style='color: #999'>Let Hank help...</h4>
      <h2>Your productivity</h2>
      <p>
        Sometimes finding the information you need to assign all of the proper codes and modifiers to a case can be time consuming.
      </p>
      <p>
        Let Hank help!  Send Hank the record, and he'll scan it for you and provide a list of the most likely codes and modifiers, highlighting the text that contributed to each decision.
      </p>
      <p>
        If you choose to be a contributor, you will help Hank in return by correcting him when he gets it wrong and explaining with free text why his selection was incorrect allowing Hank to learn from his mistakes in near real time.
      </p>
      <a class="button" href="signup.html">Sign Up!</a><a class='button boxed' href='FAQ.html' style='border: 0px; color: #333;'>Learn More</a>
    </div>
  </div>
  <div class='spacing'></div>
</div>
<img src='images/greywedgeright.png' style="position: absolute; width: 100%; height: 74px; overflow: hidden;" />

<div class='full' id='social'>
  <div class='row'>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
      <h4 style='color: #999'>Let Hank help...</h4>
      <h2>Your accuracy</h2>
      <p>
        Have you ever submitted a claim that you later learned was incorrect?  Have you ever wished for a second pair of eyes to review a complex case?
      </p>
      <p>
        Let Hank help!  Hank will draw on the experience of hundreds of other medical coders to supplement your decision-making.  Even if Hank doesn't get it exactly right, he'll provide a second opinion that could make you look at a case differently and allow you to get it right the first time.
      </p>
      <div class='spacing'></div>
      <a class="button" href="signup.html">Sign Up!</a><a class='button boxed' href='FAQ.html' style='border: 0px; color: #333;'>Learn More</a>
    </div>
    <div class='medium-6 columns'>
      <div class='box' style='width: 500px; height: 340px; text-align: center;'>
        <img class="fadeinright" src="images/target.png" style='height: 100%; margin: auto;'/>
      </div>
    </div>
  </div>
</div>
<img src='images/whitewedgeleft.png' style="position: absolute; width: 100%; height: 74px; overflow: hidden; padding-top: -50px;" />
<div class='full' style="background: #f5f5f5;" id='bottomline'>
  <div class='row'>
    <div class='medium-6 columns'>
      <div class='box' style='width: 500px; height: 340px; text-align: center;'>
        <img class="fadeinleft" src="images/bottomline.png" style='height: 100%; margin: auto;'/>
      </div>
    </div>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <h4 style='color: #999'>Let Hank help...</h4>
      <h2>Your bottom line</h2>
      <p>
        Hank's not hiding anything.  Eventually, he'll have gathered enough feedback to get it right as often as his human trainers. Oddly enough, that's what we should all be working toward.  Why?
      </p>
      <p>
        Because when Hank profits, you, his trainers, profit as well.  For up to 7 years, you will be paid a portion of every dollar generated by the models you helped to train.
      </p>
      <p>
        Pursuing your dreams, or getting a head start on retirement?  That's something we should all be able to get behind.
      </p>
      <a class="button" href="signup.html">Sign Up!</a><a class='button boxed' href='FAQ.html' style='border: 0px; color: #333;'>Learn More</a>
    </div>
    <div class='four spacing'></div>
  </div>

</div>
<img src='images/greywedgeright.png' style="position: absolute; width: 100%; height: 74px; overflow: hidden;" />

<div class='full' id='social'>
  <div class='row'>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
      <h4 style='color: #999'>Help Hank help...</h4>
      <h2>Your peers</h2>
      <p>
        You've already learned about Hank's profit sharing plan.  Work for Hank, and he'll work for you.  Well, there's one more way you can work for Hank beyond providing your feedback.
      </p>
      <p>
        Recruit your peers to benefit from Hank's profit sharing model, and your share in Hank's profits will grow in accordance to the quality and quantity of their feedback.
      </p>
      <div class='spacing'></div>
      <a class="button" href="signup.html">Sign Up!</a><a class='button boxed' href='FAQ.html' style='border: 0px; color: #333;'>Learn More</a>
    </div>
    <div class='medium-6 columns'>
      <img class="fadeinright" width="500" height="340" alt="" src="images/social.png" />
    </div>
  </div>
</div>

<img src='images/whitewedgeleft.png' style="position: absolute; width: 100%; height: 74px; overflow: hidden; padding-top: -50px;" />

<div class='full' id='platform' style="background: #f5f5f5;">
  <div class='row'>
    <div class='medium-1 columns'><p></div>
    <div class='medium-10 columns'>
      <div class='spacing'></div>
      <div class="box" style="text-align: center; width: 100%; ">
        <h2 style='color: #999;'>The Hank Platform</h2>
      </div>
      <img src="images/platform.png" style='width:100%; padding-bottom: 10px; margin:auto;' />

      <p style='text-align: center;'>
        You've already learned about Hank's profit sharing plan.  Work for Hank, and he'll work for you.  Well, there's one more way you can work for Hank beyond providing your feedback.
      </p>
      <p style='text-align: center;'>
        Recruit your peers to benefit from Hank's profit sharing model, and your share in Hank's profits will grow in accordance to the quality and quantity of their feedback.
      </p>
      <div class='spacing'></div>
      <div class="box" style="text-align: center; width: 100%; ">

        <a class="button" href="signup.html">Sign Up!</a><a class='button boxed' href='FAQ.html' style='border: 2px; color: #333;'>Learn More</a>
      </div>
    </div>
    <div class='medium-1 columns'><p></div>
  </div>
  <div class='four spacing'></div>

</div-->
