<meta http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma"
      content="no-cache" />
<meta http-equiv="Expires"
      content="0" />

<title>Hank.ai - Let Hank Help!</title>
<link rel="icon"
      type="image/png"
      href="favicon.png" />
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

<link rel="stylesheet"
      href="custom.css">