<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKG5GLV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    <div id='main' role='main'>
      {{ content }}
    </div>

    {% include footer.html %}

    <div id="myModal" class="modal popin" >
      <!-- Modal content -->
      <div class="modal-content" >
        <span class="close">&times;</span>
        <div class="box" style="text-align: center; width: 100%; ">
          <img src='images/hank.png' style='width:60px;height:60px;'/>
        </div>
        <p style='width:95%; padding-top:10px;'>Oops! Hank's not quite ready for public download.  Enter your email below to sign up to be a beta tester!</p>
        <input type="text" id='downloademail' name='email' />
        <div class="box" style="text-align: center; width: 100%; ">
          <a class='button mybtn submitbtn'>SUBMIT!</a>
        </div>
      </div>
    </div>

    <div id="signModal" class="modal popin">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="box" style="text-align: center; width: 100%; ">
          <img src='images/hank.png' style='width:60px;height:60px;'/>
        </div>
        <p style='width:95%; padding-top:10px;'>Thank you for your interest!  Enter your email below and a member of the Hank sales team will be in touch.</p>
        <input type="text" id='signupemail' name='email' />
        <div class="box" style="text-align: center; width: 100%; ">
          <a class='button mybtn submitbtn'>SUBMIT!</a>
        </div>
      </div>
    </div>

    <div id="codepop" class="popbox">
      <!-- Modal content -->
      <span class="close" style='padding-right:6px'>&times;</span>
      <p style='width:95%; padding:10px 5px 0px 10px;'>ICD-10-CM, ICD-10-PCS, CPT, Modifiers, ASA Crosswalk, SNOMED CT</p>
    </div>

    <div id="phipop" class="popbox">
      <!-- Modal content -->
      <span class="close" style='padding-right:6px'>&times;</span>
      <p style='width:95%; padding:10px 5px 0px 10px;'>Names, dates, locations, all contact and employment information, service providers</p>
    </div>

    <div id="badModal" class="modal popin">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="box" style="text-align: center; width: 100%; ">
          <i class='fa fa-exclamation-circle fa-4x'></i>
        </div>
        <p style='width:95%; padding-top:10px;'>Hey...  What's the big idea?  That wasn't a valid email address!</p>
        <div class="box" style="text-align: center; width: 100%; ">
          <a class='button mybtn againbtn'>TRY AGAIN</a>
          <a class='button mybtn closebtn'>FORGET IT</a>
        </div>
      </div>
    </div>

    <div id="errModal" class="modal popin">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="box" style="text-align: center; width: 100%; ">
          <i class='fa fa-exclamation-circle fa-4x'></i>
        </div>
        <p style='width:95%; padding-top:10px;'>We're sorry!  A technical issue prevented your signup from being recorded...</p>
        <div class="box" style="text-align: center; width: 100%; ">
          <a class='button mybtn againbtn'>TRY AGAIN</a>
          <a class='button mybtn closebtn'>FORGET IT</a>
        </div>
      </div>
    </div>

    <div id="thanksModal" class="modal popin">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="box" style="text-align: center; width: 100%; ">
          <i class='fa fa-thumbs-o-up fa-4x'></i>
        </div>
        <p style='width:95%; padding-top:10px;' id='thanksemailtxt'></p>
        <div class="box" style="text-align: center; width: 100%; ">
          <a class='button mybtn closebtn'>OK</a>
        </div>
      </div>
    </div>

    <div class="loading"><div style='padding-top:110px;'>Loading&#8230;</div></div>

  </body>


</html>
